:root {
  --pink: #e8dada;
  --pink1: #c8a3a3;
  --black: #080808;
  --white: #ffffff;
  --gray: #555555;
  --darkpink: #dc2b4c;
  --green: #b0ba1f;
  --skyblue: #56d0e6;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}
.body {
  margin: 0%;
  background-color: #e8dada;
  font-family: sans-serif;
  font-style: italic;
  color: var(--gray);
}

/*code for navbar*/

.navbarheader {
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 10px;
  z-index: 100000;
  background-color: var(--white);
  width: 100%;
  color: var(--gray);
}
.navname {
  float: left;
  margin-left: 80px;
  margin-top: 25px;
}
.navbartitle {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}
.para {
  margin-top: -40px;
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
}
.navbarlinks {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}
.navbardiv {
  float: left;
  position: relative;
  margin-top: 45px;
}
.navbarulist {
  list-style-type: none;
  font-size: x-large;
  padding-top: 15px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.navbarlist {
  padding: 0px 25px 3px 3px;
  display: flex;
  color: var(--gray);
  text-decoration: none;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
}
.navbarlist:hover {
  color: var(--pink1);
}

/*code for aboutme*/

.about {
  height: auto;
  width: auto;
  margin-bottom: 50px;
  position: relative;
}
.imgcircle {
  width: 450px;
  height: 450px;
  margin-right: 40px;
  margin-left: 20px;
  margin-top: 150px;
}
.profileimg {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.hello {
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: left;
  margin-top: 150px;
  font-weight: bold;
}
.me {
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: left;
}
.mediv {
  text-align: center;
  font-size: auto;
  display: flex;
  flex-direction: row;
}
.circle1,
.circle2,
.circle3 {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle1 {
  background-color: var(--darkpink);
  float: left;
  margin-right: 40px;
  margin-left: 50px;
  margin-top: 20px;
}
.circle2 {
  background-color: var(--skyblue);
  float: left;
  margin-right: 40px;
  margin-top: 20px;
}
.circle3 {
  background-color: var(--green);
  margin-top: 30px;
}
.text {
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
}
.text:hover {
  color: var(--black);
}
.introduction {
  color: var(--black);
  font-size: large;
  font-style: italic;
  padding-top: 20px;
  justify-content: center;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
}

/*code for work experinece*/

.exper {
  margin-left: 10px;
}
.workexptitle {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 55px;
  font-weight: bold;
}
.company {
  font-weight: bold;
}
.job1,
.job2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
.job2 {
  margin-bottom: 30px;
}
.job {
  font-weight: bolder;
}
.exp,
.myprojecttitle,
.meup {
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
/*code for projects*/

.pdiv {
  text-align: center;
  padding: 5px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 30px;
}
.projecttitle {
  margin-top: 10px;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.img {
  margin-top: 30px;
  height: 170px;
  width: 170px;
  border-radius: 10%;
  border: 1px solid var(--black);
}
.project,
.project1 {
  width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 20px;
  background: var(--pink);
  border-radius: 10px;
  border: 1px solid;
}
.technology {
  text-align: left;
  font-weight: bold;
  margin-left: 5px;
  font-size: 20px;
}
.tnames {
  padding-top: 6px;
  text-align: left;
  font-size: 15px;
}
.projparagraph {
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Times New Roman", Times, serif;
}
.ptitle {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 55px;
  font-weight: bold;
}
